@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@Html.Partial("_CustomerList")

@section scripts{
    @Scripts.Render("~/bundles/vidly-customer")

    <script type="text/javascript">        
        var _apiRouteURI = '@Url.HttpRouteUrl("DefaultApi", new { controller = "Customers" })';
    </script>
}