@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@Html.Partial("_CustomerList")

@section scripts{
    <script type="text/javascript">

        var @

        $(document).ready(function () {
            DeleteCustomer();
        });

        function DeleteCustomer() {
            $(".js-customer-delete").on("click", function () {

                var element = $(this);
                var customerId = element.attr("data-customer-id");

                StandarAjaxCall("");

            });            
        }

    </script>
}