<article class="loading__container">
    <section class="loading">
        <span class="loading__animation"></span>
        <span class="loading__message"> Loading... </span>
    </section>
</article>
