<div class="mb-45">
    <button type="button" class="js-addMovie float-right glyphicon glyphicon-plus-sign button button-green button-sm"></button>
</div>
<table class="table	table-bordered	table-hover" id="tbl-movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>